.welcome h3 {
    padding-top: 10px;
}

.welcome p {
    padding: 10px;
}

.welcome {
    background-color: #B3E5FC;
}

.ics {
    width: 100%;
    display: grid;
    place-items: center;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #E1F5FE;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #B3E5FC;
}


table.table {
    width: auto;
}

.table-bordered {
    border: 1px solid #03A9F4;
    margin-top:20px;
  }
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th {
    border: 1px solid #03A9F4;
}

a {
    color: #FB8C00;
}

a:hover {
    color: #E65100;
}